html {
    font-family: 'Signika', sans-serif;

}

.graph-1 {
    width: 100px;
    height: 100px; 
}

.header {
    position: relative; 
    /* left: 150px;  */
    font-weight: bold; 
    font-size: 20px; 
}

.graph {
    margin-left: 30px; 
}

.buttons {
    margin-left: 50px; 
}

.all-graphs {
    display: flex; 
    justify-content: space-between;
    padding: 50px; 

}

.mid {
    border-right: 2px solid black;
}
.box1 {
    width: 20px; 
    height: 20px; 
    background-color:#ff6961;
}

.box2 {
    width: 20px; 
    height: 20px; 
    background-color:#779ecb;
}

.box3 {
    width: 20px; 
    height: 20px; 
    background-color:#aa77dd;
}


.legend-box {
    display: flex; 
}

.legend {
    display: flex; 
    justify-content: space-between;
}

.legend-title {
    padding-bottom: 10px; 
}

.text {
    width: 500px;
    height: 200px;
    border: 1px solid black; 
    border-radius: 50px;
    padding: 20px; 
    margin-top: 30px; 
    text-align: center; 
}

button {
    width: 70px; 
    height: 30px; 
    font-weight: bold; 
    border-radius: 20%;
    border: 2px solid #779ecb;
    cursor: pointer; 
    margin-right: 10px; 
}

.tooltip {
    top: 250px;
    left: 280px;  
}