.graph-1 {
    width: 100px;
    height: 100px; 
}

.header {
    position: relative; 
    /* left: 150px;  */
    font-weight: bold; 
    font-size: 20px; 
}

.graph {
    margin-left: 30px; 
}

.buttons {
    margin-left: 50px; 
}

.all-graphs {
    display: flex; 
    justify-content: space-between;
    padding: 50px; 

}

.mid {
    border-right: 2px solid black;
}
.box1 {
    width: 20px; 
    height: 20px; 
    background-color:#ff6961;
}

.box2 {
    width: 20px; 
    height: 20px; 
    background-color:#779ecb;
}

.box3 {
    width: 20px; 
    height: 20px; 
    background-color:#aa77dd;
}


.legend-box {
    display: flex; 
}

.legend {
    display: flex; 
    justify-content: space-between;
}

.legend-title {
    padding-bottom: 10px; 
}